@{
    ViewData["Title"] = "Dashboard";
}

<h1>Olá, seja bem-vindo!</h1>

<div class="box">
    <p>Este projeto foi realizado para a resolução de um teste técnico como parte de um processo seletivo.</p>
    <p><strong>Descrição:</strong> Aplicação em ASP.NET Core MVC para o controlamento de estoque de produtos, com gestão restrita aos usuários autenticados através do Identity e banco de dados em SQLite, junto da ORM Entity Framework.</p>
    <hr />
    <p>Confira mais em: <a href="https://github.com/amandasdn" target="_blank">https://github.com/amandasdn</a></p>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".btn-nav-dashboard").addClass(" active");
        });
    </script>
}
