@model ControleEstoque.Models.Movimentacao

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Movimentacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDMovimentacao" />
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoTotal" class="control-label"></label>
                <input asp-for="PrecoTotal" class="form-control" />
                <span asp-validation-for="PrecoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDProduto" class="control-label"></label>
                <input asp-for="IDProduto" class="form-control" />
                <span asp-validation-for="IDProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDCliente" class="control-label"></label>
                <input asp-for="IDCliente" class="form-control" />
                <span asp-validation-for="IDCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFornecedor" class="control-label"></label>
                <input asp-for="IDFornecedor" class="form-control" />
                <span asp-validation-for="IDFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
